<?xml version="1.0"?>
<configuration>
  <configSections>
    <section
      name="Agile.Data"
      type="Agile.Data.Bases.NetTiersServiceSection, Agile.Data"
      allowDefinition="MachineToApplication"
      restartOnExternalChanges="true"/>
  </configSections>
  <appSettings />
  <connectionStrings>
    <add name="AgileConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=backlog;User ID=sa;Password=sa"/>
  </connectionStrings>
  <Agile.Data defaultProvider="SqlNetTiersProvider">
    <providers>
      <!--
				*** SqlClient Provider ***
					connectionStringName: sqlclient connection string to the db
					useStoredProcedure: if true, indicates that we use the stored procedures, otherwise, we use parametrized queries that are embedded.
			-->
      <add
        name="SqlNetTiersProvider"
        type="Agile.Data.SqlClient.SqlNetTiersProvider, Agile.Data.SqlClient"
        connectionStringName="AgileConnectionString"
        providerInvariantName="System.Data.SqlClient"
        entityFactoryType="Agile.Entities.EntityFactory"
        useEntityFactory="true"
        enableEntityTracking="true"
        enableMethodAuthorization="false"
        useStoredProcedure="false"
        defaultCommandTimeout="30"/>
    </providers>
  </Agile.Data>
  <system.web>
    <compilation debug="true">
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="~/Share/Login.aspx" timeout="2000" />
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <membership defaultProvider="AgileMembershipProvider">
      <providers>
        <clear/>
        <add name="AgileMembershipProvider" type="Agile.Services.CustomMembershipProvider, Agile.Services"
             requiresQuestionAndAnswer="false"
             enablePasswordRetrieval="true"
             enablePasswordReset="true"
             description="Custom Membership Provider by phucnh"
             requiresUniqueEmail="true"
             applicationName="/"
             passwordFormat="clear"
             connectionStringName="AgileConnectionString" />
      </providers>
    </membership>
    <pages theme="Default">
      <controls>
        <add assembly="Telerik.Web.UI" namespace="Telerik.Web.UI" tagPrefix="telerik" />
        <add tagPrefix="data" namespace="Agile.Web.Data" assembly="Agile.Web"/>
        <add tagPrefix="data" namespace="Agile.Web.UI" assembly="Agile.Web"/>
      </controls>
    </pages>
    <httpModules>
      <add name="EntityTransactionModule" type="Agile.Web.Data.EntityTransactionModule, Agile.Web"/>
    </httpModules>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
    </handlers>
  </system.webServer>
</configuration>