<?xml version="1.0" encoding="utf-8"?>
<NetTiersMap xmlns="http://www.nettiers.com/NetTiersMap.xsd">
	<Table Id="tblActionType" EntityName="ActionType" Owner="dbo" PropertyName="ActionType" FieldName="_actionType" FriendlyName="Action Type" IncludeInOutput="true">
		<Column Id="ActionTypeID" CSType="System.Int32" PropertyName="ActionTypeId" FieldName="_actionTypeId" FriendlyName="Action Type Id" IncludeInOutput="true" />
		<Column Id="ActionTypeName" CSType="System.String" PropertyName="ActionTypeName" FieldName="_actionTypeName" FriendlyName="Action Type Name" IncludeInOutput="true" />
		<ChildCollection Id="DieHistoryCollection" PropertyName="DieHistoryCollection" FieldName="_dieHistoryActionTypeId" FriendlyName="DieHistoryCollection" CSType="TList&lt;DieHistory&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_tblDIEHistory_tblActionType" IncludeInOutput="true"/>
	</Table>
	<Table Id="tblDIEAttachFile" EntityName="DieAttachFile" Owner="dbo" PropertyName="DieAttachFile" FieldName="_dieAttachFile" FriendlyName="Die Attach File" IncludeInOutput="true">
		<Column Id="DIEAttachFileID" CSType="System.Int32" PropertyName="DieAttachFileId" FieldName="_dieAttachFileId" FriendlyName="Die Attach File Id" IncludeInOutput="true" />
		<Column Id="DIERequestID" CSType="System.Int32" PropertyName="DieRequestId" FieldName="_dieRequestId" FriendlyName="Die Request Id" IncludeInOutput="true" />
		<Column Id="DIEFileName" CSType="System.String" PropertyName="DieFileName" FieldName="_dieFileName" FriendlyName="Die File Name" IncludeInOutput="true" />
	</Table>
	<Table Id="tblDIECategory" EntityName="DieCategory" Owner="dbo" PropertyName="DieCategory" FieldName="_dieCategory" FriendlyName="Die Category" IncludeInOutput="true">
		<Column Id="DIECategoryID" CSType="System.Int32" PropertyName="DieCategoryId" FieldName="_dieCategoryId" FriendlyName="Die Category Id" IncludeInOutput="true" />
		<Column Id="DIECategoryName" CSType="System.String" PropertyName="DieCategoryName" FieldName="_dieCategoryName" FriendlyName="Die Category Name" IncludeInOutput="true" />
		<Column Id="DEICategoryDescription" CSType="System.String" PropertyName="DeiCategoryDescription" FieldName="_deiCategoryDescription" FriendlyName="Dei Category Description" IncludeInOutput="true" />
		<ChildCollection Id="DieRequestCollection" PropertyName="DieRequestCollection" FieldName="_dieRequestDieCategoryId" FriendlyName="DieRequestCollection" CSType="TList&lt;DieRequest&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_tblDIERequest_tblDIECategory" IncludeInOutput="true"/>
	</Table>
	<Table Id="tblDIEHistory" EntityName="DieHistory" Owner="dbo" PropertyName="DieHistory" FieldName="_dieHistory" FriendlyName="Die History" IncludeInOutput="true">
		<Column Id="DIEHistoryID" CSType="System.Int32" PropertyName="DieHistoryId" FieldName="_dieHistoryId" FriendlyName="Die History Id" IncludeInOutput="true" />
		<Column Id="DIERequestID" CSType="System.Int32" PropertyName="DieRequestId" FieldName="_dieRequestId" FriendlyName="Die Request Id" IncludeInOutput="true" />
		<Column Id="DIEDateSubmit" CSType="System.DateTime" PropertyName="DieDateSubmit" FieldName="_dieDateSubmit" FriendlyName="Die Date Submit" IncludeInOutput="true" />
		<Column Id="DIEStatus" CSType="System.Int16" PropertyName="DieStatus" FieldName="_dieStatus" FriendlyName="Die Status" IncludeInOutput="true" />
		<Column Id="DIEHistoryNote" CSType="System.String" PropertyName="DieHistoryNote" FieldName="_dieHistoryNote" FriendlyName="Die History Note" IncludeInOutput="true" />
		<Column Id="DIEHistoryNoteJP" CSType="System.String" PropertyName="DieHistoryNoteJp" FieldName="_dieHistoryNoteJp" FriendlyName="Die History Note Jp" IncludeInOutput="true" />
		<Column Id="ReleaseID" CSType="System.Int32?" PropertyName="ReleaseId" FieldName="_releaseId" FriendlyName="Release Id" IncludeInOutput="true" />
		<Column Id="UserID" CSType="System.Int32?" PropertyName="UserId" FieldName="_userId" FriendlyName="User Id" IncludeInOutput="true" />
		<Column Id="Owner" CSType="System.Int32?" PropertyName="Owner" FieldName="_owner" FriendlyName="Owner" IncludeInOutput="true" />
		<Column Id="LastUserUpdate" CSType="System.Int32?" PropertyName="LastUserUpdate" FieldName="_lastUserUpdate" FriendlyName="Last User Update" IncludeInOutput="true" />
		<Column Id="LastTimeUpdate" CSType="System.DateTime?" PropertyName="LastTimeUpdate" FieldName="_lastTimeUpdate" FriendlyName="Last Time Update" IncludeInOutput="true" />
		<Column Id="ActionTypeID" CSType="System.Int32?" PropertyName="ActionTypeId" FieldName="_actionTypeId" FriendlyName="Action Type Id" IncludeInOutput="true" />
	</Table>
	<Table Id="tblDIERequest" EntityName="DieRequest" Owner="dbo" PropertyName="DieRequest" FieldName="_dieRequest" FriendlyName="Die Request" IncludeInOutput="true">
		<Column Id="DIERequestID" CSType="System.Int32" PropertyName="DieRequestId" FieldName="_dieRequestId" FriendlyName="Die Request Id" IncludeInOutput="true" />
		<Column Id="DIEName" CSType="System.String" PropertyName="DieName" FieldName="_dieName" FriendlyName="Die Name" IncludeInOutput="true" />
		<Column Id="DIETag" CSType="System.String" PropertyName="DieTag" FieldName="_dieTag" FriendlyName="Die Tag" IncludeInOutput="true" />
		<Column Id="DIEDescription" CSType="System.String" PropertyName="DieDescription" FieldName="_dieDescription" FriendlyName="Die Description" IncludeInOutput="true" />
		<Column Id="DIETypeID" CSType="System.Int32?" PropertyName="DieTypeId" FieldName="_dieTypeId" FriendlyName="Die Type Id" IncludeInOutput="true" />
		<Column Id="ResolutionsID" CSType="System.Int32?" PropertyName="ResolutionsId" FieldName="_resolutionsId" FriendlyName="Resolutions Id" IncludeInOutput="true" />
		<Column Id="UserID" CSType="System.Int32?" PropertyName="UserId" FieldName="_userId" FriendlyName="User Id" IncludeInOutput="true" />
		<Column Id="ProjectID" CSType="System.Int32?" PropertyName="ProjectId" FieldName="_projectId" FriendlyName="Project Id" IncludeInOutput="true" />
		<Column Id="DIEStatus" CSType="System.Int32?" PropertyName="DieStatus" FieldName="_dieStatus" FriendlyName="Die Status" IncludeInOutput="true" />
		<Column Id="PriorityDIERequestID" CSType="System.Int32?" PropertyName="PriorityDieRequestId" FieldName="_priorityDieRequestId" FriendlyName="Priority Die Request Id" IncludeInOutput="true" />
		<Column Id="DIEDateSubmit" CSType="System.DateTime?" PropertyName="DieDateSubmit" FieldName="_dieDateSubmit" FriendlyName="Die Date Submit" IncludeInOutput="true" />
		<Column Id="CodeBy" CSType="System.Int32?" PropertyName="CodeBy" FieldName="_codeBy" FriendlyName="Code By" IncludeInOutput="true" />
		<Column Id="Owner" CSType="System.Int32?" PropertyName="Owner" FieldName="_owner" FriendlyName="Owner" IncludeInOutput="true" />
		<Column Id="UpdateTime" CSType="System.DateTime?" PropertyName="UpdateTime" FieldName="_updateTime" FriendlyName="Update Time" IncludeInOutput="true" />
		<Column Id="LastUserUpdate" CSType="System.Int32?" PropertyName="LastUserUpdate" FieldName="_lastUserUpdate" FriendlyName="Last User Update" IncludeInOutput="true" />
		<Column Id="TargetDate" CSType="System.DateTime?" PropertyName="TargetDate" FieldName="_targetDate" FriendlyName="Target Date" IncludeInOutput="true" />
		<Column Id="CompletedReleaseID" CSType="System.Int32?" PropertyName="CompletedReleaseId" FieldName="_completedReleaseId" FriendlyName="Completed Release Id" IncludeInOutput="true" />
		<Column Id="MilestoneID" CSType="System.Int32?" PropertyName="MilestoneId" FieldName="_milestoneId" FriendlyName="Milestone Id" IncludeInOutput="true" />
		<Column Id="DIECategoryID" CSType="System.Int32?" PropertyName="DieCategoryId" FieldName="_dieCategoryId" FriendlyName="Die Category Id" IncludeInOutput="true" />
		<Column Id="Estimated" CSType="System.Double?" PropertyName="Estimated" FieldName="_estimated" FriendlyName="Estimated" IncludeInOutput="true" />
		<Column Id="Actual" CSType="System.Double?" PropertyName="Actual" FieldName="_actual" FriendlyName="Actual" IncludeInOutput="true" />
		<Column Id="ParentDIE" CSType="System.Int32?" PropertyName="ParentDie" FieldName="_parentDie" FriendlyName="Parent Die" IncludeInOutput="true" />
		<ChildCollection Id="DieAttachFileCollection" PropertyName="DieAttachFileCollection" FieldName="_dieAttachFileDieRequestId" FriendlyName="DieAttachFileCollection" CSType="TList&lt;DieAttachFile&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_tblDIEAttachFile_tblDIERequest" IncludeInOutput="true"/>
		<ChildCollection Id="DieRequestCollection" PropertyName="DieRequestCollection" FieldName="_dieRequestParentDie" FriendlyName="DieRequestCollection" CSType="TList&lt;DieRequest&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_tblDIERequest_tblDIERequest" IncludeInOutput="true"/>
		<ChildCollection Id="DieHistoryCollection" PropertyName="DieHistoryCollection" FieldName="_dieHistoryDieRequestId" FriendlyName="DieHistoryCollection" CSType="TList&lt;DieHistory&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_tblDIEHistory_tblDIERequest" IncludeInOutput="true"/>
	</Table>
	<Table Id="tblDIEStatus" EntityName="DieStatus" Owner="dbo" PropertyName="DieStatus" FieldName="_dieStatus" FriendlyName="Die Status" IncludeInOutput="true">
		<Column Id="DIEStatus" CSType="System.Int32" PropertyName="DieStatus" FieldName="_dieStatus" FriendlyName="Die Status" IncludeInOutput="true" />
		<Column Id="DIENameStatus" CSType="System.String" PropertyName="DieNameStatus" FieldName="_dieNameStatus" FriendlyName="Die Name Status" IncludeInOutput="true" />
		<Column Id="Order" CSType="System.Int32?" PropertyName="Order" FieldName="_order" FriendlyName="Order" IncludeInOutput="true" />
		<Column Id="Visible" CSType="System.Boolean?" PropertyName="Visible" FieldName="_visible" FriendlyName="Visible" IncludeInOutput="true" />
		<Column Id="Selected" CSType="System.Boolean?" PropertyName="Selected" FieldName="_selected" FriendlyName="Selected" IncludeInOutput="true" />
		<Column Id="IsDefault" CSType="System.Boolean?" PropertyName="IsDefault" FieldName="_isDefault" FriendlyName="Is Default" IncludeInOutput="true" />
		<Column Id="IconLink" CSType="System.String" PropertyName="IconLink" FieldName="_iconLink" FriendlyName="Icon Link" IncludeInOutput="true" />
		<Column Id="IsCompleted" CSType="System.Boolean?" PropertyName="IsCompleted" FieldName="_isCompleted" FriendlyName="Is Completed" IncludeInOutput="true" />
		<Column Id="Color" CSType="System.String" PropertyName="Color" FieldName="_color" FriendlyName="Color" IncludeInOutput="true" />
		<Column Id="ColorName" CSType="System.String" PropertyName="ColorName" FieldName="_colorName" FriendlyName="Color Name" IncludeInOutput="true" />
		<Column Id="ProjectID" CSType="System.Int32?" PropertyName="ProjectId" FieldName="_projectId" FriendlyName="Project Id" IncludeInOutput="true" />
		<ChildCollection Id="DieRequestCollection" PropertyName="DieRequestCollection" FieldName="_dieRequestDieStatus" FriendlyName="DieRequestCollection" CSType="TList&lt;DieRequest&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_tblDIERequest_tblDIEStatus" IncludeInOutput="true"/>
	</Table>
	<Table Id="tblDIEType" EntityName="DieType" Owner="dbo" PropertyName="DieType" FieldName="_dieType" FriendlyName="Die Type" IncludeInOutput="true">
		<Column Id="DIETypeID" CSType="System.Int32" PropertyName="DieTypeId" FieldName="_dieTypeId" FriendlyName="Die Type Id" IncludeInOutput="true" />
		<Column Id="Initial" CSType="System.String" PropertyName="Initial" FieldName="_initial" FriendlyName="Initial" IncludeInOutput="true" />
		<Column Id="DIETypeName" CSType="System.String" PropertyName="DieTypeName" FieldName="_dieTypeName" FriendlyName="Die Type Name" IncludeInOutput="true" />
		<Column Id="Description" CSType="System.String" PropertyName="Description" FieldName="_description" FriendlyName="Description" IncludeInOutput="true" />
		<Column Id="IsDefault" CSType="System.Boolean?" PropertyName="IsDefault" FieldName="_isDefault" FriendlyName="Is Default" IncludeInOutput="true" />
		<Column Id="Selected" CSType="System.Boolean?" PropertyName="Selected" FieldName="_selected" FriendlyName="Selected" IncludeInOutput="true" />
		<Column Id="Active" CSType="System.Boolean?" PropertyName="Active" FieldName="_active" FriendlyName="Active" IncludeInOutput="true" />
		<Column Id="Order" CSType="System.Int32?" PropertyName="Order" FieldName="_order" FriendlyName="Order" IncludeInOutput="true" />
		<Column Id="ProjectID" CSType="System.Int32?" PropertyName="ProjectId" FieldName="_projectId" FriendlyName="Project Id" IncludeInOutput="true" />
		<ChildCollection Id="DieRequestCollection" PropertyName="DieRequestCollection" FieldName="_dieRequestDieTypeId" FriendlyName="DieRequestCollection" CSType="TList&lt;DieRequest&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_tblDIERequest_tblDIEType" IncludeInOutput="true"/>
	</Table>
	<Table Id="tblMileStole" EntityName="MileStole" Owner="dbo" PropertyName="MileStole" FieldName="_mileStole" FriendlyName="Mile Stole" IncludeInOutput="true">
		<Column Id="MileStoleID" CSType="System.Int32" PropertyName="MileStoleId" FieldName="_mileStoleId" FriendlyName="Mile Stole Id" IncludeInOutput="true" />
		<Column Id="MileStoleName" CSType="System.String" PropertyName="MileStoleName" FieldName="_mileStoleName" FriendlyName="Mile Stole Name" IncludeInOutput="true" />
		<Column Id="OriginalDueDate" CSType="System.DateTime?" PropertyName="OriginalDueDate" FieldName="_originalDueDate" FriendlyName="Original Due Date" IncludeInOutput="true" />
		<Column Id="RevisedDueDate" CSType="System.DateTime?" PropertyName="RevisedDueDate" FieldName="_revisedDueDate" FriendlyName="Revised Due Date" IncludeInOutput="true" />
		<Column Id="CompleteDate" CSType="System.DateTime?" PropertyName="CompleteDate" FieldName="_completeDate" FriendlyName="Complete Date" IncludeInOutput="true" />
		<Column Id="Progress" CSType="System.Double?" PropertyName="Progress" FieldName="_progress" FriendlyName="Progress" IncludeInOutput="true" />
		<Column Id="ProjectID" CSType="System.Int32?" PropertyName="ProjectId" FieldName="_projectId" FriendlyName="Project Id" IncludeInOutput="true" />
		<Column Id="Enabled" CSType="System.Boolean?" PropertyName="Enabled" FieldName="_enabled" FriendlyName="Enabled" IncludeInOutput="true" />
		<Column Id="MileStoleOrder" CSType="System.Int32?" PropertyName="MileStoleOrder" FieldName="_mileStoleOrder" FriendlyName="Mile Stole Order" IncludeInOutput="true" />
		<ChildCollection Id="DieRequestCollection" PropertyName="DieRequestCollection" FieldName="_dieRequestMilestoneId" FriendlyName="DieRequestCollection" CSType="TList&lt;DieRequest&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_tblDIERequest_tblMileStole" IncludeInOutput="true"/>
	</Table>
	<Table Id="tblPriorityDIERequest" EntityName="PriorityDieRequest" Owner="dbo" PropertyName="PriorityDieRequest" FieldName="_priorityDieRequest" FriendlyName="Priority Die Request" IncludeInOutput="true">
		<Column Id="PriorityDIERequestID" CSType="System.Int32" PropertyName="PriorityDieRequestId" FieldName="_priorityDieRequestId" FriendlyName="Priority Die Request Id" IncludeInOutput="true" />
		<Column Id="PriorityDIERequestName" CSType="System.String" PropertyName="PriorityDieRequestName" FieldName="_priorityDieRequestName" FriendlyName="Priority Die Request Name" IncludeInOutput="true" />
		<Column Id="PriorityDIERequestDescription" CSType="System.String" PropertyName="PriorityDieRequestDescription" FieldName="_priorityDieRequestDescription" FriendlyName="Priority Die Request Description" IncludeInOutput="true" />
		<Column Id="Color" CSType="System.String" PropertyName="Color" FieldName="_color" FriendlyName="Color" IncludeInOutput="true" />
		<Column Id="ColorName" CSType="System.String" PropertyName="ColorName" FieldName="_colorName" FriendlyName="Color Name" IncludeInOutput="true" />
		<Column Id="PriorityDIERequestOrder" CSType="System.Int32?" PropertyName="PriorityDieRequestOrder" FieldName="_priorityDieRequestOrder" FriendlyName="Priority Die Request Order" IncludeInOutput="true" />
		<ChildCollection Id="DieRequestCollection" PropertyName="DieRequestCollection" FieldName="_dieRequestPriorityDieRequestId" FriendlyName="DieRequestCollection" CSType="TList&lt;DieRequest&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_tblDIERequest_tblPriorityDIERequest" IncludeInOutput="true"/>
	</Table>
	<Table Id="tblProject" EntityName="Project" Owner="dbo" PropertyName="Project" FieldName="_project" FriendlyName="Project" IncludeInOutput="true">
		<Column Id="ProjectID" CSType="System.Int32" PropertyName="ProjectId" FieldName="_projectId" FriendlyName="Project Id" IncludeInOutput="true" />
		<Column Id="ProjectName" CSType="System.String" PropertyName="ProjectName" FieldName="_projectName" FriendlyName="Project Name" IncludeInOutput="true" />
		<Column Id="StartDate" CSType="System.DateTime" PropertyName="StartDate" FieldName="_startDate" FriendlyName="Start Date" IncludeInOutput="true" />
		<Column Id="Deadline" CSType="System.DateTime" PropertyName="Deadline" FieldName="_deadline" FriendlyName="Deadline" IncludeInOutput="true" />
		<Column Id="Description" CSType="System.String" PropertyName="Description" FieldName="_description" FriendlyName="Description" IncludeInOutput="true" />
		<Column Id="Active" CSType="System.Boolean?" PropertyName="Active" FieldName="_active" FriendlyName="Active" IncludeInOutput="true" />
		<ChildCollection Id="DieRequestCollection" PropertyName="DieRequestCollection" FieldName="_dieRequestProjectId" FriendlyName="DieRequestCollection" CSType="TList&lt;DieRequest&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_tblDIERequest_tblProject" IncludeInOutput="true"/>
	</Table>
	<Table Id="tblRelease" EntityName="Release" Owner="dbo" PropertyName="Release" FieldName="_release" FriendlyName="Release" IncludeInOutput="true">
		<Column Id="ReleaseID" CSType="System.Int32" PropertyName="ReleaseId" FieldName="_releaseId" FriendlyName="Release Id" IncludeInOutput="true" />
		<Column Id="ProjectID" CSType="System.Int32" PropertyName="ProjectId" FieldName="_projectId" FriendlyName="Project Id" IncludeInOutput="true" />
		<Column Id="ReleaseDate" CSType="System.DateTime" PropertyName="ReleaseDate" FieldName="_releaseDate" FriendlyName="Release Date" IncludeInOutput="true" />
		<Column Id="ReleaseName" CSType="System.String" PropertyName="ReleaseName" FieldName="_releaseName" FriendlyName="Release Name" IncludeInOutput="true" />
		<Column Id="ReleaseNote" CSType="System.String" PropertyName="ReleaseNote" FieldName="_releaseNote" FriendlyName="Release Note" IncludeInOutput="true" />
		<Column Id="Active" CSType="System.Boolean?" PropertyName="Active" FieldName="_active" FriendlyName="Active" IncludeInOutput="true" />
		<Column Id="UserID" CSType="System.Int32?" PropertyName="UserId" FieldName="_userId" FriendlyName="User Id" IncludeInOutput="true" />
		<Column Id="LastUserUpdate" CSType="System.Int32?" PropertyName="LastUserUpdate" FieldName="_lastUserUpdate" FriendlyName="Last User Update" IncludeInOutput="true" />
		<Column Id="LastDateUpdate" CSType="System.DateTime?" PropertyName="LastDateUpdate" FieldName="_lastDateUpdate" FriendlyName="Last Date Update" IncludeInOutput="true" />
		<ChildCollection Id="DieRequestCollection" PropertyName="DieRequestCollection" FieldName="_dieRequestCompletedReleaseId" FriendlyName="DieRequestCollection" CSType="TList&lt;DieRequest&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_tblDIERequest_tblRelease" IncludeInOutput="true"/>
	</Table>
	<Table Id="tblResolutions" EntityName="Resolutions" Owner="dbo" PropertyName="Resolutions" FieldName="_resolutions" FriendlyName="Resolutions" IncludeInOutput="true">
		<Column Id="ResolutionsID" CSType="System.Int32" PropertyName="ResolutionsId" FieldName="_resolutionsId" FriendlyName="Resolutions Id" IncludeInOutput="true" />
		<Column Id="ResolutionsName" CSType="System.String" PropertyName="ResolutionsName" FieldName="_resolutionsName" FriendlyName="Resolutions Name" IncludeInOutput="true" />
		<ChildCollection Id="DieRequestCollection" PropertyName="DieRequestCollection" FieldName="_dieRequestResolutionsId" FriendlyName="DieRequestCollection" CSType="TList&lt;DieRequest&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_tblDIERequest_tblResolutions" IncludeInOutput="true"/>
	</Table>
	<Table Id="tblUser" EntityName="User" Owner="dbo" PropertyName="User" FieldName="_user" FriendlyName="User" IncludeInOutput="true">
		<Column Id="UserID" CSType="System.Int32" PropertyName="UserId" FieldName="_userId" FriendlyName="User Id" IncludeInOutput="true" />
		<Column Id="UserName" CSType="System.String" PropertyName="UserName" FieldName="_userName" FriendlyName="User Name" IncludeInOutput="true" />
		<Column Id="PassWord" CSType="System.String" PropertyName="PassWord" FieldName="_passWord" FriendlyName="Pass Word" IncludeInOutput="true" />
		<Column Id="QlnsID" CSType="System.Int32?" PropertyName="QlnsId" FieldName="_qlnsId" FriendlyName="Qlns Id" IncludeInOutput="true" />
		<Column Id="Email" CSType="System.String" PropertyName="Email" FieldName="_email" FriendlyName="Email" IncludeInOutput="true" />
		<Column Id="EmployeeName" CSType="System.String" PropertyName="EmployeeName" FieldName="_employeeName" FriendlyName="Employee Name" IncludeInOutput="true" />
		<Column Id="Remove" CSType="System.Boolean?" PropertyName="Remove" FieldName="_remove" FriendlyName="Remove" IncludeInOutput="true" />
		<Column Id="IsLoginSystem" CSType="System.Boolean?" PropertyName="IsLoginSystem" FieldName="_isLoginSystem" FriendlyName="Is Login System" IncludeInOutput="true" />
		<Column Id="UpdateDate" CSType="System.DateTime?" PropertyName="UpdateDate" FieldName="_updateDate" FriendlyName="Update Date" IncludeInOutput="true" />
		<Column Id="UserUpdate" CSType="System.Int32?" PropertyName="UserUpdate" FieldName="_userUpdate" FriendlyName="User Update" IncludeInOutput="true" />
		<Column Id="PageDefaultLogin" CSType="System.String" PropertyName="PageDefaultLogin" FieldName="_pageDefaultLogin" FriendlyName="Page Default Login" IncludeInOutput="true" />
		<Column Id="DateCreated" CSType="System.DateTime?" PropertyName="DateCreated" FieldName="_dateCreated" FriendlyName="Date Created" IncludeInOutput="true" />
		<Column Id="DateRemoved" CSType="System.DateTime?" PropertyName="DateRemoved" FieldName="_dateRemoved" FriendlyName="Date Removed" IncludeInOutput="true" />
		<Column Id="IsNoBody" CSType="System.Boolean?" PropertyName="IsNoBody" FieldName="_isNoBody" FriendlyName="Is No Body" IncludeInOutput="true" />
		<ChildCollection Id="DieRequestCollection" PropertyName="DieRequestCollection" FieldName="_dieRequestUserId" FriendlyName="DieRequestCollection" CSType="TList&lt;DieRequest&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_tblDIERequest_tblUser" IncludeInOutput="true"/>
	</Table>
</NetTiersMap>
