<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="Agile.Data" type="Agile.Data.Bases.NetTiersServiceSection, Agile.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
		<section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
	</configSections>
	<appSettings/>
	<connectionStrings>
		<add name="Agile.Data.ConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=backlog;User ID=sa;Password=sa"/>
	</connectionStrings>
	<Agile.Data defaultProvider="SqlNetTiersProvider">
		<providers>
			<!--
				*** SqlClient Provider ***
					connectionStringName: sqlclient connection string to the db
					useStoredProcedure: if true, indicates that we use the stored procedures, otherwise, we use parametrized queries that are embedded.
			-->
			<add name="SqlNetTiersProvider" type="Agile.Data.SqlClient.SqlNetTiersProvider, Agile.Data.SqlClient" connectionStringName="Agile.Data.ConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="Agile.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="true" enableMethodAuthorization="false" useStoredProcedure="false" defaultCommandTimeout="30"/>
			<!-- 
				*** WebserviceClient Provider ***
				The url parameter indicates the webservices url (ex: http://localhost/Agile/AgileServices.aspx)
				<add 
					name="WsNetTiersProvider" 
					type="Agile.Data.WebServiceClient.WsNetTiersProvider, Agile.Data.WebServiceClient"
					url="/AgileServices.asmx" />
			-->
		</providers>
	</Agile.Data>
	<system.web>
		<pages theme="default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="data" namespace="Agile.Web.Data" assembly="Agile.Web"/>
				<add tagPrefix="data" namespace="Agile.Web.UI" assembly="Agile.Web"/>
			</controls>
		</pages>
		<httpModules>
			<add name="EntityTransactionModule" type="Agile.Web.Data.EntityTransactionModule, Agile.Web"/>
		</httpModules>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0"/>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        <authentication mode="Windows" />
        -->
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
	<enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
		<sources>
			<add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="entlib.config"/>
		</sources>
	</enterpriseLibrary.ConfigurationSource>
</configuration>
